# JBUILDER_GEN

package "js" (
  description = "Deprecated. Use github-jsoo directly"
  requires = "github-jsoo"
)

package "unix" (
  description = "Deprecated. Use github-unix directly"
  requires = "github-unix"
)